In [126]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df=pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [127]:
df.groupby('age')['age'].count()

age
29     1
34     2
35     4
37     2
38     3
39     4
40     3
41    10
42     8
43     8
44    11
45     8
46     7
47     5
48     7
49     5
50     7
51    12
52    13
53     8
54    16
55     8
56    11
57    17
58    19
59    14
60    11
61     8
62    11
63     9
64    10
65     8
66     7
67     9
68     4
69     3
70     4
71     3
74     1
76     1
77     1
Name: age, dtype: int64

In [128]:
df['age'].describe()

count    303.000000
mean      54.366337
std        9.082101
min       29.000000
25%       47.500000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

In [129]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [130]:
df['age']=(df['age']/10).astype(int)

In [131]:
df.groupby('sex').size()

sex
0     96
1    207
dtype: int64

In [132]:
df.groupby('cp').size()

cp
0    143
1     50
2     87
3     23
dtype: int64

In [133]:
df['trestbps'].describe()

count    303.000000
mean     131.623762
std       17.538143
min       94.000000
25%      120.000000
50%      130.000000
75%      140.000000
max      200.000000
Name: trestbps, dtype: float64

In [134]:
def normalize(x):
    return (x-x.min())/(x.max()-x.min())

In [135]:
df['trestbps']=normalize(df['trestbps'])

In [136]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [137]:
df['chol']=normalize(df['chol'])

In [138]:
df['thalach']=normalize(df['thalach'])

In [139]:
df['exang'].describe()

count    303.000000
mean       0.326733
std        0.469794
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: exang, dtype: float64

In [140]:
df['oldpeak']=normalize(df['oldpeak'])

In [141]:
df.groupby('slope').size()

slope
0     21
1    140
2    142
dtype: int64

In [142]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,4.983498,0.683168,0.966997,0.354941,0.274575,0.148515,0.528053,0.600358,0.326733,0.167678,1.399340,0.729373,2.313531,0.544554
std,0.929497,0.466011,1.032052,0.165454,0.118335,0.356198,0.525860,0.174849,0.469794,0.187270,0.616226,1.022606,0.612277,0.498835
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.000000,0.000000,0.245283,0.194064,0.000000,0.000000,0.477099,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,5.000000,1.000000,1.000000,0.339623,0.260274,0.000000,1.000000,0.625954,0.000000,0.129032,1.000000,0.000000,2.000000,1.000000
75%,6.000000,1.000000,2.000000,0.433962,0.339041,0.000000,1.000000,0.725191,1.000000,0.258065,2.000000,1.000000,3.000000,1.000000
max,7.000000,1.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,4.000000,3.000000,1.000000

In [143]:
#pd.get_dummies(df['age'],drop_first=True)
#pd.get_dummies(df['cp'],drop_first=True)
#pd.get_dummies(df['restecg'],drop_first=True)
#pd.get_dummies(df['ca'],drop_first=True)
#pd.get_dummies(df['restecg'],drop_first=True)
#pd.get_dummies(df['slope'],drop_first=True)
cols_cat=['age','cp','restecg','ca','slope','sex','fbs','exang']
cols_num=['trestbps', 'chol','thalach','exang', 'oldpeak']

df_dummy=pd.get_dummies(data=df[cols_cat],columns=cols_cat,drop_first=True)
cols_dummy=df_dummy.columns
df2=pd.concat([df,df_dummy],axis=1)

df2.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target', 'age_3', 'age_4',
       'age_5', 'age_6', 'age_7', 'cp_1', 'cp_2', 'cp_3', 'restecg_1',
       'restecg_2', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'slope_1', 'slope_2',
       'sex_1', 'fbs_1', 'exang_1'],
      dtype='object')

### select feature data from the all data

In [144]:
df_data=df2[list(cols_dummy)+cols_num+['target']]
df_data=df_data.sample(frac=1,random_state=1099)
df_data.shape

(303, 25)

In [145]:
df_valid_test=df_data.sample(frac=0.3,random_state=1099)

df_train=df_data.drop(df_valid_test.index)

In [146]:
df_test=df_valid_test.sample(frac=0.5)

df_valid=df_valid_test.drop(df_test.index)

In [147]:
df_test.shape

(46, 25)

In [148]:
df_train.reset_index(drop=True,inplace=True)
df_test.reset_index(drop=True,inplace=True)
df_valid.reset_index(drop=True,inplace=True)

In [149]:
def prevcalc(x):
    return x.sum()/len(x)

In [158]:

def sigmoid(w,x):
    sum_=np.sum(np.array(X_train.iloc[1])*w.T)
    return 1/(1+np.exp(-sum_))



#Loss
def loss(x,y,w):
    return -y*np.log(sigmoid(w,x))-(1-y)*log(1-sigmoid(w,x))

In [172]:
df_train.columns[:-1]

Index(['age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'cp_1', 'cp_2', 'cp_3',
       'restecg_1', 'restecg_2', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'slope_1',
       'slope_2', 'sex_1', 'fbs_1', 'exang_1', 'trestbps', 'chol', 'thalach',
       'exang', 'oldpeak'],
      dtype='object')

In [160]:
X_train=df_train[df_train.columns[:-1]]
y_train=df_train['target']

In [161]:
X_valid=df_valid[df_train.columns[:-1]]
y_valid=df_valid['target']

In [162]:
X_test=df_test[df_train.columns[:-1]]
y_test=df_test['target']

In [163]:
w=np.zeros(shape=(len(X_train.columns)+1,1))

In [164]:
X_train['b_const']=1

In [165]:
np.sum(np.array(X_train.iloc[1])*w.T)

0.0

In [166]:
sigmoid(w,X_train.iloc[1])

0.5

In [168]:
X_train2=X_train.copy(deep=True)

In [187]:
np.c_[X_train]

array([[0.        , 0.        , 1.        , ..., 0.        , 0.08064516,
        1.        ],
       [0.        , 0.        , 1.        , ..., 1.        , 0.67741935,
        1.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.        , 0.        , 1.        , ..., 0.        , 0.03225806,
        1.        ],
       [0.        , 0.        , 1.        , ..., 1.        , 0.19354839,
        1.        ],
       [0.        , 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ]])

In [189]:
np.newaxis ?

SyntaxError: invalid syntax (<ipython-input-189-2b02afd3dd4c>, line 1)