In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df=pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
df.groupby('age')['age'].count()

age
29     1
34     2
35     4
37     2
38     3
39     4
40     3
41    10
42     8
43     8
44    11
45     8
46     7
47     5
48     7
49     5
50     7
51    12
52    13
53     8
54    16
55     8
56    11
57    17
58    19
59    14
60    11
61     8
62    11
63     9
64    10
65     8
66     7
67     9
68     4
69     3
70     4
71     3
74     1
76     1
77     1
Name: age, dtype: int64

In [3]:
df['age'].describe()

count    303.000000
mean      54.366337
std        9.082101
min       29.000000
25%       47.500000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

In [4]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
df['age']=(df['age']/10).astype(int)

In [6]:
df.groupby('sex').size()

sex
0     96
1    207
dtype: int64

In [7]:
df.groupby('cp').size()

cp
0    143
1     50
2     87
3     23
dtype: int64

In [8]:
df['trestbps'].describe()

count    303.000000
mean     131.623762
std       17.538143
min       94.000000
25%      120.000000
50%      130.000000
75%      140.000000
max      200.000000
Name: trestbps, dtype: float64

In [9]:
def normalize(x):
    return (x-x.min())/(x.max()-x.min())

In [10]:
df['trestbps']=normalize(df['trestbps'])

In [11]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [12]:
df['chol']=normalize(df['chol'])

In [13]:
df['thalach']=normalize(df['thalach'])

In [14]:
df['exang'].describe()

count    303.000000
mean       0.326733
std        0.469794
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: exang, dtype: float64

In [15]:
df['oldpeak']=normalize(df['oldpeak'])

In [16]:
df.groupby('slope').size()

slope
0     21
1    140
2    142
dtype: int64

In [17]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,4.983498,0.683168,0.966997,0.354941,0.274575,0.148515,0.528053,0.600358,0.326733,0.167678,1.399340,0.729373,2.313531,0.544554
std,0.929497,0.466011,1.032052,0.165454,0.118335,0.356198,0.525860,0.174849,0.469794,0.187270,0.616226,1.022606,0.612277,0.498835
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.000000,0.000000,0.245283,0.194064,0.000000,0.000000,0.477099,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,5.000000,1.000000,1.000000,0.339623,0.260274,0.000000,1.000000,0.625954,0.000000,0.129032,1.000000,0.000000,2.000000,1.000000
75%,6.000000,1.000000,2.000000,0.433962,0.339041,0.000000,1.000000,0.725191,1.000000,0.258065,2.000000,1.000000,3.000000,1.000000
max,7.000000,1.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,4.000000,3.000000,1.000000

In [18]:
#pd.get_dummies(df['age'],drop_first=True)
#pd.get_dummies(df['cp'],drop_first=True)
#pd.get_dummies(df['restecg'],drop_first=True)
#pd.get_dummies(df['ca'],drop_first=True)
#pd.get_dummies(df['restecg'],drop_first=True)
#pd.get_dummies(df['slope'],drop_first=True)
cols_cat=['age','cp','restecg','ca','slope','sex','fbs','exang']
cols_num=['trestbps', 'chol','thalach','exang', 'oldpeak']

df_dummy=pd.get_dummies(data=df[cols_cat],columns=cols_cat,drop_first=True)
cols_dummy=df_dummy.columns
df2=pd.concat([df,df_dummy],axis=1)

df2.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target', 'age_3', 'age_4',
       'age_5', 'age_6', 'age_7', 'cp_1', 'cp_2', 'cp_3', 'restecg_1',
       'restecg_2', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'slope_1', 'slope_2',
       'sex_1', 'fbs_1', 'exang_1'],
      dtype='object')

### select feature data from the all data

In [19]:
df_data=df2[list(cols_dummy)+cols_num+['target']]
df_data=df_data.sample(frac=1,random_state=1099)
df_data.shape

(303, 25)

In [20]:
df_valid_test=df_data.sample(frac=0.3,random_state=1099)

df_train=df_data.drop(df_valid_test.index)

In [21]:
df_test=df_valid_test.sample(frac=0.5)

df_valid=df_valid_test.drop(df_test.index)

In [22]:
df_test.shape

(46, 25)

In [23]:
df_train.reset_index(drop=True,inplace=True)
df_test.reset_index(drop=True,inplace=True)
df_valid.reset_index(drop=True,inplace=True)

In [24]:
def prevcalc(x):
    return x.sum()/len(x)

In [25]:
df_train.columns[:-1]

Index(['age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'cp_1', 'cp_2', 'cp_3',
       'restecg_1', 'restecg_2', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'slope_1',
       'slope_2', 'sex_1', 'fbs_1', 'exang_1', 'trestbps', 'chol', 'thalach',
       'exang', 'oldpeak'],
      dtype='object')

In [26]:
X_train=df_train[df_train.columns[:-1]]
y_train=df_train['target']

X_valid=df_valid[df_train.columns[:-1]]
y_valid=df_valid['target']

X_test=df_test[df_train.columns[:-1]]
y_test=df_test['target']

In [104]:
X_train['b_const']=1
X_valid['b_const']=1
X_train2=X_train.copy(deep=True)

X_train_np=np.c_[X_train2]

y_train[:, np.newaxis].shape



X_train_np[1].shape

(25,)

In [105]:

def sigmoid(z):

    return 1/(1+np.exp(-z))


#Loss
def loss(x,y,w):
    return -y*np.log(sigmoid(w,x))-(1-y)*log(1-sigmoid(w,x))

w=np.zeros(shape=(len(X_train.columns),1))

In [106]:
h=sigmoid(np.dot(X_train_np,w))
y_train_np=np.c_[y_train]

In [107]:
(X_train_np*(h-y_train_np)[:,np.newaxis]).shape

(212, 212, 25)

In [108]:
y_train_np.shape

(212, 1)

In [109]:
(X_train_np*(h-y_train_np)).shape

(212, 25)

In [130]:
def probability(w,x):
    return (sigmoid(np.dot(x,w)))
    

def costfunction(w,x,y):
    m=x.shape[0]
    total_cost= (-1/m)*np.sum(y*probability(w,x)+(1-y)*(1-probability(w,x)))
#    total_cost = -(1 / m) * np.sum(y * np.log(probability(theta, x)) + (1 - y) * np.log(1 - probability(theta, x)))
    return total_cost

costfunction(w,X_train_np,y_train_np)

def gradient(w,x,y):
    m=x.shape[0]
    return (1/m)*np.dot(x.T,(probability(w,x)-y))

In [131]:
from  scipy.optimize import fmin_tnc

In [132]:
def fit(w,x,y):
    opt_weight=fmin_tnc(func=costfunction,fprime=gradient,x0=w,args=(x, y.flatten()))
    return opt_weight[0]

In [134]:
w_min=fit(w,X_train_np, y_train_np)
w_min=np.r_[[w_min]].T

In [135]:
X_valid_np=np.c_[X_valid]
y_valid_np=np.c_[y_valid]

In [137]:
z=probability(w_min,X_valid_np)

In [156]:
z2=np.round(z)
pred_valid=(np.c_[y_valid]==z2).astype(int)

In [161]:
accuracy=sum(pred_valid)/len(pred)
accuracy[0]

0.7333333333333333

In [164]:
X_valid.columns

Index(['age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'cp_1', 'cp_2', 'cp_3',
       'restecg_1', 'restecg_2', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'slope_1',
       'slope_2', 'sex_1', 'fbs_1', 'exang_1', 'trestbps', 'chol', 'thalach',
       'exang', 'oldpeak', 'b_const'],
      dtype='object')

In [181]:
w_df=pd.DataFrame(np.round(w_min,2).T)

In [185]:
w_df.columns=X_valid.columns

In [188]:
w_df

,age_3,age_4,age_5,age_6,age_7,cp_1,cp_2,cp_3,restecg_1,restecg_2,...,slope_2,sex_1,fbs_1,exang_1,trestbps,chol,thalach,exang,oldpeak,b_const
0,0.37,1.51,0.18,-0.58,-0.16,0.75,3.82,2.94,2.48,-0.47,...,-0.26,-4.36,0.61,-1.23,-0.93,0.01,2.11,-1.23,-1.43,1.33